<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group7.flight.mapper.UserMapper">


    <select id="getUserById" resultType="com.group7.flight.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="getUserByUsername" resultType="com.group7.flight.entity.User">
        select * from user where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.group7.flight.entity.User">
        insert into `user` (username, password, email, tel, name) VALUES(#{username}, #{password}, #{email}, #{tel}, #{name})
    </insert>

</mapper>
